<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enter Text (SAHAR)</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="/static/htmx.min.js?v=2.0.10"></script>
</head>

<body>
    <div class="container">
        <h1 class="title">Enter Text (SAHAR)</h1>

        <div class="card" id="content-card">
            {% include "content.html" %}
        </div>
    </div>
</body>

</html>